[build]
  command = "pip install -r requirements.txt"
  publish = "public"
  functions = "api"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200
